*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.glowna
{
    color: white;
    width: 100%;
    height: 100vh;
    background-image: url("background.png");
    background-position: center;
    background-size: cover;
}
header
{
    display: flex;
    align-items:center;
    justify-content: space-around;
}
nav ul li a
{
    color: aliceblue;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li
{
    display: inline-block;
    margin: 10px 20px;
}
.title
{
    font-size: 50px;
    font-weight: 900;
    margin: 10px  20px;
}
span
{
    color: rgb(255,1,1);
}
h2
{
    font-weight: 100;
}
h3
{
    font-weight: 900;
}
.Info h2
{
   margin-top: 10%;
   margin-left: 16%;
   font-size: 30px;
}
.Info h3
{
    margin-top: 20px;
    margin-left: 16%;
    font-size: 60px;
}
nav
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
nav ul li a::after
{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after
{
    width: 100%;
}
.about
{
    background-color: #080808;
    color: white;
    padding: 80px;
}
.zdjecie
{
    width: 100%;
}
.row
{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap; 
    
}
.col1
{
    flex-basis: 35%;
}
.col1 img
{
    width: 100%;
    border-radius: 15px;
}
.col2
{
    flex-basis: 60%;
    font-weight: 100;
}
.sub
{
    font-weight: 900;
    font-size: 60px;
}
.tab
{
    display: flex;
    margin: 20px 0 40px;
}
.tablinks
{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tablinks:after
{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
    display: flex;
}
.tablinks.active::after
{
    width: 50%;
}
.tabcontent ul li
{
    margin: 10px 0 ;
}
.tabcontent span
{
    font-size: 14px;
}
.tabcontent.activer
{
    display: block;
}
.tabcontent
{
    display: none;
}
.trzecia
{
    display: grid;

}
.trzecia
{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kontere
{
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    border-radius: 20px;
    grid-gap: 20px;
}
.box
{
    border-radius: 50px;
    margin: 20px;
    color: white;
}
/* 
day2
  */
{
    
}


